This is an exercise in taking any number of arguments, using the unpacking operator, "*", calculate it's average, and prints out the result on standard out.

In [1]:
def average(*args):
    avg = sum(args) / len(args)
    print(f"The average of {args} is {avg} ")

In [2]:
average(4, 6, 7, 22)

The average of (4, 6, 7, 22) is 9.75

In [1]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Using iterrows
for index, row in df.iterrows():
    print(f"Index: {index}, Name: {row['Name']}, Age: {row['Age']}, City: {row['City']}")

Index: 0, Name: Alice, Age: 25, City: New York
Index: 1, Name: Bob, Age: 30, City: San Francisco
Index: 2, Name: Charlie, Age: 35, City: Los Angeles

In [2]:
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles